div.menu {
	background-color: #333333;
	height: 70px;
	margin: -10px;
}

ul.nav {
	list-style-type: none;
	margin: 0 auto;
	padding-top: 26px;
	height: 30px;
	color: #e6e6e6;

}

li {
	display: inline;
	padding: 10px;
	margin: 0 auto;
	font-size: 1em;

	
}

li a {
	
	text-align: center;
	text-decoration: none;

}

li a:visited {
	color: #e6e6e6;
}

li a:hover {
	color: orange;
}

li, h1, h2, h3, h4, h5, p, #search {
	font-family: "helvetica", "arial", sans-serif;
}

li.title {
	margin-left: -20px;
	margin-right: 20px;
	color: orange;
	font-size: 1.05em;
}

.users {
	padding: 5px;
	margin-left: 20px;
}

h2.users {
	margin-top: 40px;
}

#searchname {
	padding: 30px;
}

#search {
	width: 200px;
	margin-left: 20px;
}

.actions {
	padding-top: 15px;
}

.input {
	padding: 10px 0;
}