doctype html
html
	head
		link(href='/css/main.css', rel='stylesheet', type='text/css')
	body
		div.menu
			ul.nav
				li.title 
					strong userInfoApp
				li 
					a(href="/") allUsers
				li 
					a(href="search") searchUsers
				li 
					a(href="newuser") newUser


		h2.users All Users:
			each user in users
				h3.users= user.firstname + " " + user.lastname + " - " 
					a(href="mailto:#{user.email}") #{user.email}

		
		

