doctype html
html
	head
	body
		h2 All Users:
			each user in users
				h3= user.firstname + " " + user.lastname

		form(name="searchbar", method="post")
			div.input
				label Search Names
				input(type="text", id="name")
			div.actions
				input(type="submit", value="add")