doctype html
html
	head
		link(href='/css/main.css', rel='stylesheet', type='text/css')
	body
		div.menu
			ul.nav
				li.title
					strong userInfoApp
				li 
					a(href="/") allUsers
				li 
					a(href="search") searchUsers
				li 
					a(href="newuser") newUser

		form#searchname(action="/newUser", name="searchbar", method="post")
			div.input
				label First Name: 
				input(type="text", name="firstname")
			div.input
				label Last Name: 
				input(type="text", name="lastname")
			div.input
				label Email: 
				input(type="text", name="email")
			div.actions
				input(type="submit", value="Add")
