doctype html
html
	head
		link(href='/css/main.css', rel='stylesheet', type='text/css')
	body
		div
			ul
				li 
					strong User Information App
				li 
					a(href="/") Home
				li 
					a(href="search") Search
				li 
					a(href="newuser") New User

		form(action="/newUser", name="searchbar", method="post")
			div.input
				label First Name: 
				input(type="text", name="firstname")
			div.input
				label Last Name: 
				input(type="text", name="lastname")
			div.input
				label Email: 
				input(type="text", name="email")
			div.actions
				input(type="submit", value="add")
