doctype html
html
	head
	body
		form(action="/newUser", name="searchbar", method="post")
			div.input
				label First Name: 
				input(type="text", name="firstname")
			div.input
				label Last Name: 
				input(type="text", name="lastname")
			div.input
				label Email: 
				input(type="text", name="email")
			div.actions
				input(type="submit", value="add")