doctype html
html
	head
		link(href='/css/main.css', rel='stylesheet', type='text/css')
	body
		

		div.menu
			ul.nav
				li.title 
					strong userInfoApp
				li 
					a(href="/") allUsers
				li 
					a(href="search") searchUsers
				li 
					a(href="newuser") newUser

		form#searchname(action="/search", name="searchbar", method="post")
			div.input
				label Search Names    
				input#search(type="search", name="name", placeholder="Enter Name", autocomplete="off", list="results")
				datalist#results
			div.actions
				input(type="submit", value="Search")


		script(src="//code.jquery.com/jquery-2.2.3.min.js")
		script(src='/js/main.js')