doctype html
html
	head
	body
		form(action="/search", name="searchbar", method="post")
			div.input
				label Search Names
				input(type="text", name="name")
			div.actions
				input(type="submit", value="add")