doctype html
html
	head
		link(href='/css/main.css', rel='stylesheet', type='text/css')
	body
		

		div
			ul
				li 
					strong User Information App
				li 
					a(href="/") Home
				li 
					a(href="search") Search
				li 
					a(href="newuser") New User

		form(action="/search", name="searchbar", method="post")
			div.input
				label Search Names  
				input#search(type="search", name="name", placeholder="Search For Users")
			div.actions
				input(type="submit", value="add")

		ul#results


		script(src="//code.jquery.com/jquery-2.2.3.min.js")
		script(src='/js/main.js')