doctype html
html
	head
		link(href='/css/main.css', rel='stylesheet', type='text/css')
	body
		div
			ul
				li 
					strong User Information App
				li 
					a(href="/") Home
				li 
					a(href="search") Search
				li 
					a(href="newuser") New User

		h2 Matches:
			ul
				each name in nameMatches
					li #{name.firstname} #{name.lastname} #{name.email}
